html, body {
    padding: 0;
    margin: 0;
}

.states {
    fill: #ad9758;
    stroke: #fff;
}

#lineChart {
    float: left;
    background-color: #bae8c0;
}

#barChart {
    float: left;
}

path { 
    stroke-width: 1;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
}
circle { 
  stroke-width: 1;
}
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.legend, .label, .hover-text{
    font-size: x-small;
    background-color: white;
}




