html, body {
    padding: 0;
    margin: 0;
}

.states {
    /* fill: #ad9758; */
    fill: #654321;
    stroke: #fff;
}

#map {
	width: calc(50% - 3px);
	float: left;
	/* border-right: 1px solid gray; */
}

#lineChart {
	width: 50%;
	display: inline-block;
}

#barChart {
    float: left;
}

path { 
    stroke-width: 1;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
}
circle { 
  stroke-width: 1;
}
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.legend, .label, .hover-text{
    font-size: x-small;
    background-color: white;
}

text {
    font-family: Optima, Futura, sans-serif;
    font-weight: bold;
}




