html, body {
    padding: 0;
    margin: 0;
    background-color: white;
}

.states {
    /* fill: #ad9758; */
    fill: #A2BC80;
    stroke: #ffffff;
}

.button {
    background-color: #A2BC80;
    border: none;
    color: white;
    padding: 1px 20px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#map {
    width: calc(50% - 3px);
    float: left;
}

#lineChart {
	width: 50%;
	display: inline-block;
}

#barChart {
    width: 50%;
    display: inline-block;
}

#axisText {
    font-size: 9px;
}

path { 
    stroke-width: 1;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
}
circle { 
  stroke-width: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.legend, .label, .hover-text{
    font-size: x-small;
    background-color: white;
}

text {
    font-family: source-sans-pro, sans-serif;
    font-weight: lighter;
    fill: #0F2048;
}

label {
    font-family: source-sans-pro, sans-serif;
    font-weight: lighter;
    font-size: x-small;
}

#tip {	
    position: absolute;			
    text-align: center;								
    padding: 2px;				
    font: 11px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

#priceTip {	
    position: absolute;			
    text-align: center;								
    padding: 2px;				
    font: 11px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

#maptip {	
    position: absolute;			
    text-align: center;			
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

#selector {
    opacity: 0.2;
}

